{
  "openapi": "3.1.0",
  "info": {
    "title": "Crown API & Webhooks",
    "version": "1.0.0",
    "description": "Open API 3 docs for Crown API\n\nWebhook events that Crown will POST to your configured endpoint URL. All webhooks expect a 200 OK response. Payloads use kebab-case for all keys to match the Crown API conventions."
  },
  "servers": [
    {
      "url": "https://app.crown-brlv.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/accounts/{account-id}/auto-claims/{schedule-id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "account-id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "schedule-id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auto-claim schedule retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auto-claim-schedule": {
                      "type": "object",
                      "properties": {
                        "last-run-at": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Timestamp of the last run, or null"
                        },
                        "scope": {
                          "type": "string",
                          "enum": [
                            "wallet",
                            "account"
                          ],
                          "description": "Whether the schedule claims account-wide or for a single wallet"
                        },
                        "cron": {
                          "type": "string",
                          "description": "UNIX cron expression",
                          "example": "0 9 * * *"
                        },
                        "target-asset-code": {
                          "type": "string",
                          "enum": [
                            "brl",
                            "brlv"
                          ],
                          "description": "Destination asset for each claim"
                        },
                        "max-amount": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Maximum amount claimed each run"
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Auto-claim schedule unique identifier"
                        },
                        "created-at": {
                          "type": "string",
                          "description": "Creation timestamp"
                        },
                        "enabled": {
                          "type": "boolean",
                          "description": "Whether the schedule is active"
                        },
                        "wallet-address": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Target wallet address when scope is 'wallet', otherwise null"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "last-run-at",
                        "scope",
                        "cron",
                        "target-asset-code",
                        "max-amount",
                        "id",
                        "created-at",
                        "enabled",
                        "wallet-address"
                      ],
                      "description": "The auto-claim schedule"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "auto-claim-schedule"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Bad request error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Forbidden access error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Resource not found error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get an auto-claim schedule",
        "description": "Returns a single auto-claim schedule by ID. Requires the auto-claim-rewards capability."
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "account-id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "schedule-id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Auto-claim schedule canceled"
          },
          "400": {
            "description": "Bad request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Bad request error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Forbidden access error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Resource not found error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "summary": "Cancel an auto-claim schedule",
        "description": "Cancels a recurring auto-claim schedule and unschedules its job. Requires the auto-claim-rewards capability."
      }
    },
    "/api/v1/accounts/{account-id}/quotes": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "account-id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source-asset": {
                    "type": "string",
                    "enum": [
                      "tempo/brlv",
                      "eth-base/brlv",
                      "eth-mainnet/brlv",
                      "fiat/brl",
                      "eth-base/usdt",
                      "fiat/usd",
                      "eth-mainnet/usdt",
                      "eth-mainnet/usdc",
                      "eth-base/wbrly",
                      "eth-base/usdc",
                      "eth-base/brly"
                    ],
                    "description": "The asset to convert from (e.g., 'fiat/brl', 'eth-base/brlv', 'eth-base/usdc')",
                    "example": "fiat/brl"
                  },
                  "target-asset": {
                    "type": "string",
                    "enum": [
                      "tempo/brlv",
                      "eth-base/brlv",
                      "eth-mainnet/brlv",
                      "fiat/brl",
                      "eth-base/usdt",
                      "fiat/usd",
                      "eth-mainnet/usdt",
                      "eth-mainnet/usdc",
                      "eth-base/wbrly",
                      "eth-base/usdc",
                      "eth-base/brly"
                    ],
                    "description": "The asset to convert to (e.g., 'fiat/brl', 'eth-base/brlv', 'eth-base/usdc')",
                    "example": "eth-base/usdc"
                  },
                  "source-amount": {
                    "oneOf": [
                      {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number",
                            "format": "double"
                          }
                        ],
                        "description": "Amount of source asset to convert (provide either source-amount OR target-amount, not both)",
                        "example": "100.50"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "target-amount": {
                    "oneOf": [
                      {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number",
                            "format": "double"
                          }
                        ],
                        "description": "Desired amount of target asset to receive (provide either source-amount OR target-amount, not both)",
                        "example": "500.25"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "trade-reason": {
                    "oneOf": [
                      {
                        "type": "string",
                        "enum": [
                          "transfer-between-same-entity-accounts"
                        ],
                        "description": "SISBACEN classification for the FX trade. Required when converting between BRL and a non-BRL-pegged asset (e.g., BRL <-> USDC). Ignored for same-currency conversions such as BRL <-> BRLV.",
                        "example": "transfer-between-same-entity-accounts"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "source-asset",
                  "target-asset"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires-at": {
                      "type": "string",
                      "example": "2024-01-15T10:30:00Z",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp when the quote expires (millisecond precision)"
                    },
                    "trade-reason-code": {
                      "type": "string",
                      "description": "Regulatory code for the trade reason",
                      "example": "67995"
                    },
                    "target-asset": {
                      "type": "string",
                      "enum": [
                        "tempo/brlv",
                        "eth-base/brlv",
                        "eth-mainnet/brlv",
                        "fiat/brl",
                        "eth-base/usdt",
                        "fiat/usd",
                        "eth-mainnet/usdt",
                        "eth-mainnet/usdc",
                        "eth-base/wbrly",
                        "eth-base/usdc",
                        "eth-base/brly"
                      ],
                      "description": "The asset being converted to",
                      "example": "eth-base/usdc"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier for the quote",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "trade-reason": {
                      "type": "string",
                      "enum": [
                        "transfer-between-same-entity-accounts"
                      ],
                      "description": "SISBACEN classification for the FX trade",
                      "example": "transfer-between-same-entity-accounts"
                    },
                    "source-asset": {
                      "type": "string",
                      "enum": [
                        "tempo/brlv",
                        "eth-base/brlv",
                        "eth-mainnet/brlv",
                        "fiat/brl",
                        "eth-base/usdt",
                        "fiat/usd",
                        "eth-mainnet/usdt",
                        "eth-mainnet/usdc",
                        "eth-base/wbrly",
                        "eth-base/usdc",
                        "eth-base/brly"
                      ],
                      "description": "The asset being converted from",
                      "example": "fiat/brl"
                    },
                    "source-amount": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Amount of source asset to be converted. BRL → 2 dp; USDC/USDT → 6 dp. Always FLOOR-truncated.",
                      "example": "1000.00"
                    },
                    "created-at": {
                      "type": "string",
                      "example": "2024-01-15T10:30:00Z",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp when the quote was created (millisecond precision)"
                    },
                    "pricing": {
                      "type": "object",
                      "properties": {
                        "base-rate": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "string",
                              "format": "decimal",
                              "description": "Units of quote asset per 1 unit of base asset (10-decimal precision, floored)",
                              "example": "5.1307200000"
                            },
                            "base": {
                              "type": "string",
                              "description": "Base asset symbol",
                              "example": "USDC"
                            },
                            "quote": {
                              "type": "string",
                              "description": "Quote asset symbol",
                              "example": "BRL"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "amount",
                            "base",
                            "quote"
                          ],
                          "description": "Commercial exchange rate, before Crown's spread"
                        },
                        "spread": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "string",
                              "format": "decimal",
                              "description": "Crown's spread, charged in BRL (2-decimal, rounded UP to the next centavo)",
                              "example": "7.95"
                            },
                            "asset": {
                              "type": "string",
                              "enum": [
                                "tempo/brlv",
                                "eth-base/brlv",
                                "eth-mainnet/brlv",
                                "fiat/brl",
                                "eth-base/usdt",
                                "fiat/usd",
                                "eth-mainnet/usdt",
                                "eth-mainnet/usdc",
                                "eth-base/wbrly",
                                "eth-base/usdc",
                                "eth-base/brly"
                              ],
                              "description": "Asset in which the spread is charged",
                              "example": "fiat/brl"
                            },
                            "bps": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Spread rate in basis points; present only when the percentage branch of the brokerage formula wins",
                              "example": 80
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "amount",
                            "asset"
                          ],
                          "description": "Crown's spread on the conversion"
                        },
                        "fee": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "string",
                              "format": "decimal",
                              "description": "Service fee charged on the conversion (BRL, 2-decimal, rounded UP)",
                              "example": "2.00"
                            },
                            "asset": {
                              "type": "string",
                              "enum": [
                                "tempo/brlv",
                                "eth-base/brlv",
                                "eth-mainnet/brlv",
                                "fiat/brl",
                                "eth-base/usdt",
                                "fiat/usd",
                                "eth-mainnet/usdt",
                                "eth-mainnet/usdc",
                                "eth-base/wbrly",
                                "eth-base/usdc",
                                "eth-base/brly"
                              ],
                              "description": "Asset in which the fee is charged",
                              "example": "fiat/brl"
                            },
                            "kind": {
                              "type": "string",
                              "enum": [
                                "fixed"
                              ],
                              "description": "Fee structure kind",
                              "example": "fixed"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "amount",
                            "asset",
                            "kind"
                          ],
                          "description": "Service fee charged on the conversion"
                        },
                        "iof": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "string",
                              "format": "decimal",
                              "description": "IOF (Imposto sobre Operações Financeiras) amount (BRL, 2-decimal, rounded UP)",
                              "example": "0.00"
                            },
                            "asset": {
                              "type": "string",
                              "enum": [
                                "tempo/brlv",
                                "eth-base/brlv",
                                "eth-mainnet/brlv",
                                "fiat/brl",
                                "eth-base/usdt",
                                "fiat/usd",
                                "eth-mainnet/usdt",
                                "eth-mainnet/usdc",
                                "eth-base/wbrly",
                                "eth-base/usdc",
                                "eth-base/brly"
                              ],
                              "description": "Asset in which IOF is charged",
                              "example": "fiat/brl"
                            },
                            "applicable": {
                              "type": "boolean",
                              "description": "Whether IOF applies to this conversion",
                              "example": false
                            },
                            "basis-ref": {
                              "type": "string",
                              "description": "Reference to the regulatory basis for IOF treatment",
                              "example": "psav-res-521-2025"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "amount",
                            "asset",
                            "applicable",
                            "basis-ref"
                          ],
                          "description": "IOF tax treatment for this conversion"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "base-rate",
                        "spread",
                        "fee",
                        "iof"
                      ],
                      "description": "Pricing breakdown: base rate, spread, service fee, IOF"
                    },
                    "target-amount": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Amount of target asset to be received. BRL → 2 dp; USDC/USDT → 6 dp. Always FLOOR-truncated.",
                      "example": "194.914826"
                    },
                    "vet": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Units of quote asset per 1 unit of base asset (10-decimal precision, floored)",
                          "example": "5.1307200000"
                        },
                        "base": {
                          "type": "string",
                          "description": "Base asset symbol",
                          "example": "USDC"
                        },
                        "quote": {
                          "type": "string",
                          "description": "Quote asset symbol",
                          "example": "BRL"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "amount",
                        "base",
                        "quote"
                      ],
                      "description": "Valor Efetivo Total — the all-in rate including spread, fee, and IOF"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "expires-at",
                    "target-asset",
                    "id",
                    "source-asset",
                    "source-amount",
                    "created-at",
                    "pricing",
                    "target-amount",
                    "vet"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Bad request error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Forbidden access error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Resource not found error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "summary": "Create a quote for currency/token conversion",
        "description": "Creates a quote for converting between different assets (fiat currencies and tokens). Either source-amount OR target-amount must be provided, but not both."
      }
    },
    "/api/v0/orders": {
      "get": {
        "responses": {
          "200": {
            "description": "Orders list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "base-rate": {
                            "type": "string",
                            "format": "decimal",
                            "description": "Base exchange rate between assets",
                            "example": "1.0000"
                          },
                          "state-updated-at": {
                            "type": "string",
                            "example": "2024-01-15T10:30:00Z",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp when the order state was last updated"
                          },
                          "qr-code-base64": {
                            "type": "string",
                            "description": "Base64-encoded PNG QR code rendered from the brcode payload."
                          },
                          "fee-amount": {
                            "type": "string",
                            "format": "decimal",
                            "description": "Fee charged for the order.",
                            "example": "0.50"
                          },
                          "expiration": {
                            "type": "string",
                            "example": "2024-01-15T10:30:00Z",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp when the brcode expires."
                          },
                          "effective-rate": {
                            "type": "string",
                            "format": "decimal",
                            "description": "Effective rate including fees",
                            "example": "0.9950"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "created",
                              "rolled-back",
                              "completed",
                              "processing"
                            ],
                            "description": "Current state of the order",
                            "example": "created"
                          },
                          "target-asset": {
                            "type": "string",
                            "enum": [
                              "tempo/brlv",
                              "eth-base/brlv",
                              "eth-mainnet/brlv",
                              "fiat/brl",
                              "eth-base/usdt",
                              "fiat/usd",
                              "eth-mainnet/usdt",
                              "eth-mainnet/usdc",
                              "eth-base/wbrly",
                              "eth-base/usdc",
                              "eth-base/brly"
                            ],
                            "description": "The asset being converted to",
                            "example": "eth-base/brlv"
                          },
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique identifier for the created order",
                            "example": "660e8400-e29b-41d4-a716-446655440001"
                          },
                          "quote-id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Identifier of the quote this order was created from",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                          },
                          "fee-asset": {
                            "type": "string",
                            "enum": [
                              "tempo/brlv",
                              "eth-base/brlv",
                              "eth-mainnet/brlv",
                              "fiat/brl",
                              "eth-base/usdt",
                              "fiat/usd",
                              "eth-mainnet/usdt",
                              "eth-mainnet/usdc",
                              "eth-base/wbrly",
                              "eth-base/usdc",
                              "eth-base/brly"
                            ],
                            "description": "Asset in which the fee is denominated.",
                            "example": "fiat/brl"
                          },
                          "source-asset": {
                            "type": "string",
                            "enum": [
                              "tempo/brlv",
                              "eth-base/brlv",
                              "eth-mainnet/brlv",
                              "fiat/brl",
                              "eth-base/usdt",
                              "fiat/usd",
                              "eth-mainnet/usdt",
                              "eth-mainnet/usdc",
                              "eth-base/wbrly",
                              "eth-base/usdc",
                              "eth-base/brly"
                            ],
                            "description": "The asset being converted from",
                            "example": "fiat/brl"
                          },
                          "source-amount": {
                            "type": "string",
                            "format": "decimal",
                            "description": "Amount of source asset to be converted",
                            "example": "100.50"
                          },
                          "created-at": {
                            "type": "string",
                            "example": "2024-01-15T10:30:00Z",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp when the order was created"
                          },
                          "brcode": {
                            "type": "string",
                            "description": "EMV PIX copy-paste payload for the brcode (present only for source-payment-method brcode).",
                            "example": "00020101021226890014br.gov.bcb.pix..."
                          },
                          "target-amount": {
                            "type": "string",
                            "format": "decimal",
                            "description": "Amount of target asset to be received",
                            "example": "99.75"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "base-rate",
                          "state-updated-at",
                          "effective-rate",
                          "state",
                          "target-asset",
                          "id",
                          "quote-id",
                          "source-asset",
                          "source-amount",
                          "created-at",
                          "target-amount"
                        ],
                        "description": "List of orders"
                      }
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "orders"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Bad request error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Forbidden access error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Resource not found error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all orders",
        "description": "Retrieves a list of all orders for the authenticated user"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quote-id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique identifier of the quote to accept",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  },
                  "source-wallet-address": {
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "Ethereum wallet address for source tokens (required only when source asset is a token like eth-mainnet/brlv, eth-base/brlv or eth-base/wbrly)",
                        "example": "0x742d35Cc6635C0532925a3b8D295FD6C6e7e2c2c"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "target-wallet-address": {
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "Ethereum wallet address for receiving tokens. Resolved server-side to an internal wallet, a whitelisted external wallet, or a target wallet. For FX (BRL<->USDC) orders, target wallets must also be FX-whitelisted for the account.",
                        "example": "0x742d35Cc6635C0532925a3b8D295FD6C6e7e2c2c"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "target-end-user-pix-key": {
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "PIX key of a third-party end-user bank account to receive BRL. Allowed for USDC->BRL and BRLV->BRL orders. The recipient bank account's tax-id must match the tax-id registered on the account the order is executed on. When set, BRL is delivered directly to this PIX key; the API user's own bank account is not touched.",
                        "example": "user@example.com"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "source-payment-method": {
                    "oneOf": [
                      {
                        "type": "string",
                        "enum": [
                          "brcode",
                          "account-balance"
                        ],
                        "description": "How the source BRL is collected. 'brcode' issues a one-time PIX QR for the exact amount that the account pays to fund a BRL->BRLV order; 'account-balance' funds from the account's existing BRL balance and is the default when this field is omitted.",
                        "example": "brcode"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "quote-id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "type": "object",
                      "properties": {
                        "base-rate": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Base exchange rate between assets",
                          "example": "1.0000"
                        },
                        "state-updated-at": {
                          "type": "string",
                          "example": "2024-01-15T10:30:00Z",
                          "format": "date-time",
                          "description": "ISO 8601 timestamp when the order state was last updated"
                        },
                        "qr-code-base64": {
                          "type": "string",
                          "description": "Base64-encoded PNG QR code rendered from the brcode payload."
                        },
                        "fee-amount": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Fee charged for the order.",
                          "example": "0.50"
                        },
                        "expiration": {
                          "type": "string",
                          "example": "2024-01-15T10:30:00Z",
                          "format": "date-time",
                          "description": "ISO 8601 timestamp when the brcode expires."
                        },
                        "effective-rate": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Effective rate including fees",
                          "example": "0.9950"
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "created",
                            "rolled-back",
                            "completed",
                            "processing"
                          ],
                          "description": "Current state of the order",
                          "example": "created"
                        },
                        "target-asset": {
                          "type": "string",
                          "enum": [
                            "tempo/brlv",
                            "eth-base/brlv",
                            "eth-mainnet/brlv",
                            "fiat/brl",
                            "eth-base/usdt",
                            "fiat/usd",
                            "eth-mainnet/usdt",
                            "eth-mainnet/usdc",
                            "eth-base/wbrly",
                            "eth-base/usdc",
                            "eth-base/brly"
                          ],
                          "description": "The asset being converted to",
                          "example": "eth-base/brlv"
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Unique identifier for the created order",
                          "example": "660e8400-e29b-41d4-a716-446655440001"
                        },
                        "quote-id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Identifier of the quote this order was created from",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "fee-asset": {
                          "type": "string",
                          "enum": [
                            "tempo/brlv",
                            "eth-base/brlv",
                            "eth-mainnet/brlv",
                            "fiat/brl",
                            "eth-base/usdt",
                            "fiat/usd",
                            "eth-mainnet/usdt",
                            "eth-mainnet/usdc",
                            "eth-base/wbrly",
                            "eth-base/usdc",
                            "eth-base/brly"
                          ],
                          "description": "Asset in which the fee is denominated.",
                          "example": "fiat/brl"
                        },
                        "source-asset": {
                          "type": "string",
                          "enum": [
                            "tempo/brlv",
                            "eth-base/brlv",
                            "eth-mainnet/brlv",
                            "fiat/brl",
                            "eth-base/usdt",
                            "fiat/usd",
                            "eth-mainnet/usdt",
                            "eth-mainnet/usdc",
                            "eth-base/wbrly",
                            "eth-base/usdc",
                            "eth-base/brly"
                          ],
                          "description": "The asset being converted from",
                          "example": "fiat/brl"
                        },
                        "source-amount": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Amount of source asset to be converted",
                          "example": "100.50"
                        },
                        "created-at": {
                          "type": "string",
                          "example": "2024-01-15T10:30:00Z",
                          "format": "date-time",
                          "description": "ISO 8601 timestamp when the order was created"
                        },
                        "brcode": {
                          "type": "string",
                          "description": "EMV PIX copy-paste payload for the brcode (present only for source-payment-method brcode).",
                          "example": "00020101021226890014br.gov.bcb.pix..."
                        },
                        "target-amount": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Amount of target asset to be received",
                          "example": "99.75"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "base-rate",
                        "state-updated-at",
                        "effective-rate",
                        "state",
                        "target-asset",
                        "id",
                        "quote-id",
                        "source-asset",
                        "source-amount",
                        "created-at",
                        "target-amount"
                      ]
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "order"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Bad request error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Forbidden access error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Resource not found error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "summary": "Create an order from a quote",
        "description": "Creates an order by accepting a quote. Wallet addresses are required only for token assets (eth-base/brlv, eth-mainnet/brlv, eth-base/wbrly). For fiat assets (fiat/brl, fiat/usd), no wallet addresses are needed. Use source-wallet-address for the source wallet and target-wallet-address for the destination wallet."
      }
    },
    "/api/v1/accounts/{account-id}/orders/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "account-id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "type": "object",
                      "properties": {
                        "base-rate": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Base exchange rate between assets",
                          "example": "1.0000"
                        },
                        "state-updated-at": {
                          "type": "string",
                          "example": "2024-01-15T10:30:00Z",
                          "format": "date-time",
                          "description": "ISO 8601 timestamp when the order state was last updated"
                        },
                        "qr-code-base64": {
                          "type": "string",
                          "description": "Base64-encoded PNG QR code rendered from the brcode payload."
                        },
                        "fee-amount": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Fee charged for the order.",
                          "example": "0.50"
                        },
                        "expiration": {
                          "type": "string",
                          "example": "2024-01-15T10:30:00Z",
                          "format": "date-time",
                          "description": "ISO 8601 timestamp when the brcode expires."
                        },
                        "effective-rate": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Effective rate including fees",
                          "example": "0.9950"
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "created",
                            "rolled-back",
                            "completed",
                            "processing"
                          ],
                          "description": "Current state of the order",
                          "example": "created"
                        },
                        "target-asset": {
                          "type": "string",
                          "enum": [
                            "tempo/brlv",
                            "eth-base/brlv",
                            "eth-mainnet/brlv",
                            "fiat/brl",
                            "eth-base/usdt",
                            "fiat/usd",
                            "eth-mainnet/usdt",
                            "eth-mainnet/usdc",
                            "eth-base/wbrly",
                            "eth-base/usdc",
                            "eth-base/brly"
                          ],
                          "description": "The asset being converted to",
                          "example": "eth-base/brlv"
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Unique identifier for the created order",
                          "example": "660e8400-e29b-41d4-a716-446655440001"
                        },
                        "quote-id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Identifier of the quote this order was created from",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "fee-asset": {
                          "type": "string",
                          "enum": [
                            "tempo/brlv",
                            "eth-base/brlv",
                            "eth-mainnet/brlv",
                            "fiat/brl",
                            "eth-base/usdt",
                            "fiat/usd",
                            "eth-mainnet/usdt",
                            "eth-mainnet/usdc",
                            "eth-base/wbrly",
                            "eth-base/usdc",
                            "eth-base/brly"
                          ],
                          "description": "Asset in which the fee is denominated.",
                          "example": "fiat/brl"
                        },
                        "source-asset": {
                          "type": "string",
                          "enum": [
                            "tempo/brlv",
                            "eth-base/brlv",
                            "eth-mainnet/brlv",
                            "fiat/brl",
                            "eth-base/usdt",
                            "fiat/usd",
                            "eth-mainnet/usdt",
                            "eth-mainnet/usdc",
                            "eth-base/wbrly",
                            "eth-base/usdc",
                            "eth-base/brly"
                          ],
                          "description": "The asset being converted from",
                          "example": "fiat/brl"
                        },
                        "source-amount": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Amount of source asset to be converted",
                          "example": "100.50"
                        },
                        "created-at": {
                          "type": "string",
                          "example": "2024-01-15T10:30:00Z",
                          "format": "date-time",
                          "description": "ISO 8601 timestamp when the order was created"
                        },
                        "brcode": {
                          "type": "string",
                          "description": "EMV PIX copy-paste payload for the brcode (present only for source-payment-method brcode).",
                          "example": "00020101021226890014br.gov.bcb.pix..."
                        },
                        "target-amount": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Amount of target asset to be received",
                          "example": "99.75"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "base-rate",
                        "state-updated-at",
                        "effective-rate",
                        "state",
                        "target-asset",
                        "id",
                        "quote-id",
                        "source-asset",
                        "source-amount",
                        "created-at",
                        "target-amount"
                      ]
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "order"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Bad request error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Forbidden access error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Resource not found error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get an order by ID",
        "description": "Retrieves a specific order by its ID for the authenticated account"
      }
    },
    "/api/v0/wallets/{wallet-address}/claims": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "wallet-address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Claimable balance retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available-balance": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Total available balance that can be claimed",
                      "example": "350.50"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "available-balance"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Bad request error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Forbidden access error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Resource not found error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get claimable balance for a wallet",
        "description": "Returns the available balance that can be claimed from reward certificates held by the given wallet address."
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "wallet-address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number",
                        "format": "double"
                      }
                    ],
                    "description": "Amount to claim from reward certificates",
                    "example": "100.00"
                  },
                  "target-asset-code": {
                    "type": "string",
                    "description": "Destination asset: 'brl' for bank transfer or 'brlv' for on-chain tokens",
                    "example": "brlv",
                    "enum": [
                      "brl",
                      "brlv"
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "amount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Claim submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "claim": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Claims request unique identifier",
                          "example": "550e8400-e29b-41d4-a716-446655440003"
                        },
                        "gross-amount": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Total gross amount of the claims",
                          "example": "100.00"
                        },
                        "net-amount": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Net amount after taxes and fees",
                          "example": "85.00"
                        },
                        "tax-amount": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Total tax amount deducted",
                          "example": "15.00"
                        },
                        "fees": {
                          "type": "string",
                          "format": "decimal",
                          "description": "Processing fees",
                          "example": "0.00"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "created",
                            "failed",
                            "completed",
                            "processing",
                            "canceled"
                          ],
                          "description": "Current status of the claims request",
                          "example": "created"
                        },
                        "updated-at": {
                          "type": "string",
                          "description": "Last update timestamp",
                          "example": "2025-09-30T19:21:57.838913Z"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "id",
                        "gross-amount",
                        "net-amount",
                        "tax-amount",
                        "fees",
                        "status",
                        "updated-at"
                      ],
                      "description": "Details of the submitted claim request"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "claim"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Bad request error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Forbidden access error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Resource not found error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "message",
                        "code"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "summary": "Submit a claim request for a wallet",
        "description": "Submits a claim for a specified amount from reward certificates held by the given wallet address. FIFO allocation is restricted to certificates at this wallet."
      }
    },
    "/api/v1/accounts/{account-id}/orders": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "account-id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "base-rate": {
                            "type": "string",
                            "format": "decimal",
                            "description": "Base exchange rate between assets",
                            "example": "1.0000"
                          },
                          "state-updated-at": {
                            "type": "string",
                            "example": "2024-01-15T10:30:00Z",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp when the order state was last updated"
                          },
                          "qr-code-base64": {
                            "type": "string",
                            "description": "Base64-encoded PNG QR code rendered from the brcode payload."
                          },
                          "fee-amount": {
                            "type": "string",
                            "format": "decimal",
                            "description": "Fee charged for the order.",
                            "example": "0.50"
                          },
                          "expiration": {
                            "type": "string",
                            "example": "2024-01-15T10:30:00Z",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp when the brcode expires."
                          },
                          "effective-rate": {
                            "type": "string",
                            "format": "decimal",
                            "description": "Effective rate including fees",
                            "example": "0.9950"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "created",
                              "rolled-back",
                              "completed",
                              "processing"
                            ],
                            "description": "Current state of the order",
                            "example": "created"
                          },
                          "target-asset": {
                            "type": "string",
                            "enum": [
                              "tempo/brlv",
                              "eth-base/brlv",
                              "eth-mainnet/brlv",
                              "fiat/brl",
                              "eth-base/usdt",
                              "fiat/usd",
                              "eth-mainnet/usdt",
                              "eth-mainnet/usdc",
[...]
